<div class="d-flex justify-content-center my-5">
    <button mat-raised-button (click)="openNewBoardDialog()" color="warn">Yeni Board Ekle</button>
</div>

<div class="d-flex justify-content-between bg-warning align-items-center m-3 px-3" *ngFor="let board of boardService.boards; let i=index">
    <div>
        {{board.title}}
    </div>
    <div>
        <button mat-icon-button (click)="deleteBoard(i)">
            <mat-icon>
                delete
            </mat-icon>
        </button>
    </div>

</div>